@model StCamillus.Models.ApplicationUser

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ApplicationUser</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="AccessFailedCount" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="AccessFailedCount" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConcurrencyStamp" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="ConcurrencyStamp" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <div class="checkbox">
                    <input asp-for="EmailConfirmed" />
                    <label asp-for="EmailConfirmed"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <div class="checkbox">
                    <input asp-for="LockoutEnabled" />
                    <label asp-for="LockoutEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LockoutEnd" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="LockoutEnd" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NormalizedEmail" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="NormalizedEmail" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NormalizedUserName" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="NormalizedUserName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PasswordHash" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="PasswordHash" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PhoneNumber" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <div class="checkbox">
                    <input asp-for="PhoneNumberConfirmed" />
                    <label asp-for="PhoneNumberConfirmed"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="SecurityStamp" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="SecurityStamp" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <div class="checkbox">
                    <input asp-for="TwoFactorEnabled" />
                    <label asp-for="TwoFactorEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="UserName" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="UserName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
