@model StCamillus.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ApplicationUser</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group row">
            <label asp-for="AccessFailedCount" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="AccessFailedCount" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <div class="checkbox">
                    <input asp-for="EmailConfirmed" />
                    <label asp-for="EmailConfirmed"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <div class="checkbox">
                    <input asp-for="LockoutEnabled" />
                    <label asp-for="LockoutEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LockoutEnd" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="LockoutEnd" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
