@model IEnumerable<StCamillus.Models.ApplicationUsersIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th>User Admin</th>
            <th>Silver Spring</th>
            <th>Langley Park</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUsersIndexViewModel item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>@item.UserAdminToggleBool <a title="@item.UserAdminToggleToolTip User Admin Role" asp-action="ChangeUserRole" asp-controller="ApplicationUsers" asp-route-id="@item.ApplicationUser.Id" asp-route-direction="@item.UserAdminToggleVerb" asp-route-role="User Admin">@item.UserAdminToggleVerb</a></td>
                <td>@item.SilverSpringToggleBool <a title="@item.SilverSpringToggleToolTip Silver Spring Role" asp-action="ChangeUserRole" asp-controller="ApplicationUsers" asp-route-id="@item.ApplicationUser.Id" asp-route-direction="@item.SilverSpringToggleVerb" asp-route-role="Silver Spring">@item.SilverSpringToggleVerb</a></td>
                <td>@item.LangleyParkToggleBool <a title="@item.LangleyParkToggleToolTip Langley Park Role" asp-action="ChangeUserRole" asp-controller="ApplicationUsers" asp-route-id="@item.ApplicationUser.Id" asp-route-direction="@item.LangleyParkToggleVerb" asp-route-role="Langley Park">@item.LangleyParkToggleVerb</a></td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ApplicationUser.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
