@model StCamillus.Models.MannaPickup

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" class="dataEntry">
    <div class="form-horizontal col-md-6">
        <h4>MannaPickup</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="MannaDataId" />
        <div class="form-group row">
            <label class="col-form-label col-lg-4">Latest Pickup Date</label>
            <div class="col-lg-8">
                <input class="form-control" disabled="disabled" value="@ViewBag.LatestPickup" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="PickupDate" class="col-lg-4 col-form-label"></label>
            <div class="col-lg-8">
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PickupLocationId" class="col-lg-4 col-form-label"></label>
            <div class="col-lg-8">
                <select asp-for="PickupLocationId" class="form-control" asp-items="ViewBag.PickupLocations"></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Notes" class="col-lg-4 col-form-label"></label>
            <div class="col-lg-8">
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-4 col-lg-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({ minDate: 0 });
        });</script>*@
}
