@model StCamillus.Models.MannaPickup

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MannaPickup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickupDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MannaPickupId">Edit</a> |
    @*<a asp-action="Index">Back to List</a>*@
</div>
