@model StCamillus.Models.MannaPickup

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>MannaPickup</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="MannaPickupId" />
        <div class="form-group row">
            <label asp-for="MannaDataId" class="col-form-label col-lg-2"></label>
            <div class="col-lg-10">
                <select asp-for="MannaDataId" class="form-control" asp-items="ViewBag.MannaDataId"></select>
                <span asp-validation-for="MannaDataId" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Notes" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PickupDate" class="col-lg-2 col-form-label"></label>
            <div class="col-lg-10">
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PickupLocationId" class="col-form-label col-lg-2"></label>
            <div class="col-lg-10">
                <select asp-for="PickupLocationId" class="form-control" asp-items="ViewBag.PickupLocationId"></select>
                <span asp-validation-for="PickupLocationId" class="text-danger" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-md-2 col-lg-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
