@model IEnumerable<StCamillus.Models.MannaPickup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MannaPickupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MannaPickupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MannaPickupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
