﻿@using Microsoft.AspNetCore.Identity
@using StCamillus.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if ( SignInManager.IsSignedIn( User ) )
{
    @if ( UserManager.IsInRoleAsync( UserManager.GetUserAsync( User ).Result, "User Admin" ).Result )
    {
        <a asp-controller="ApplicationUsers" asp-action="Index" class="dropdown-item">Manage Users</a>
    }
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="dropdown-item">@UserManager.GetUserName( User )</a>
    <a asp-area="" asp-controller="Account" asp-action="Logoff" title="Log Off" class="dropdown-item">Log Off</a>

    @*<form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="form-inline my-2 my-lg-0 dropdown-item">
            <button type="submit" class="btn btn-link navbar-btn dropdown-item">Log off</button>
        </form>*@
}
else
{
    <a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
    <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Log in</a>
}
