@model DistributionCreateViewModel

@{
    ViewData[ "Title" ] = "Create";
}

<h2>@ViewData[ "Title" ]</h2>


<form asp-action="Create" class="dataEntry">
    <div class="form-horizontal col-md-6">
        <h4>Distribution</h4>
        @Html.Partial( "_DistributionDemographicPartial" )
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        @if ( null != ViewBag.DistributionAlert )
        {
            <div id="recentDistroMsg" class="bg-danger" style="width:50%;text-align: center;font-weight:bold;margin-bottom:20px;">
                @ViewBag.DistributionAlert
            </div>
        }

        <div class="form-group row">
            <label asp-for="MostRecentDistributionDate" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="MostRecentDistributionDate" class="form-control" disabled="disabled" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="PantryLocationId" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <select asp-for="PantryLocationId" class="form-control" asp-items="ViewBag.PantryLocationId"></select>
            </div>
        </div>

        <div class="form-group row">
            @Html.Hidden( "DemographicId", (int?)ViewBag.demographicId )
            <label asp-for="DistributionDate" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="DistributionDate" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="GaveInfantFormula" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="GaveInfantFormula" />
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-4 col-lg-8">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-controller="Demographics" asp-route-id="@Model.DemographicId">Back to Household</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
    @*<script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({ minDate: 0 });
        });</script>*@
}
