@model DemographicAddEditViewModel

<div class="form-horizontal">
    @if ( ViewBag.ChangesMade )
    {
        <div class="alert alert-success fade show" id="successMsg">
            Changes Saved!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Demographic.DemographicId" />

    <div class="form-group row">
        <label asp-for="Demographic.BarcodeId" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-2">
            @if ( ViewBag.AddEditMode == "Edit" )
            {
                <input readonly asp-for="Demographic.BarcodeId" class="form-control" />
            }
            else
            {
                <input asp-for="Demographic.BarcodeId" class="form-control" />
            }

        </div>
        <div class="form-check offset-lg-2 col-lg">
            @*Self Disclosure*@
            <input asp-for="Demographic.SelfDisclosure" class="form-check-input" />
            <label asp-for="Demographic.SelfDisclosure" class="form-check-label"></label>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Demographic.LastName" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.LastName" class="form-control" data-toggle="tooltip" title="@Model.Demographic.LastName" />
        </div>
        <label asp-for="Demographic.FirstName" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.FirstName" class="form-control" data-toggle="tooltip" title="@Model.Demographic.FirstName" />
        </div>
        <label asp-for="Demographic.PhoneNumber" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.PhoneNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Demographic.Dob" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.Dob" class="form-control" />
        </div>
        <label asp-for="Demographic.FlattenedAge" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.FlattenedAge" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Demographic.EthnicityId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="Demographic.EthnicityId" class="form-control" asp-items="ViewBag.EthnicityId"><option value=""></option></select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Demographic.StreetAddress" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.StreetAddress" class="form-control" data-toggle="tooltip" title="@Model.Demographic.StreetAddress" />
        </div>
        <label asp-for="Demographic.City" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.City" class="form-control" />
        </div>
        <label asp-for="Demographic.StateId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="Demographic.StateId" class="form-control" asp-items="ViewBag.StateId"><option value=""></option></select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Demographic.CountyId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="Demographic.CountyId" class="form-control" asp-items="ViewBag.CountyId"><option value=""></option></select>
        </div>
        <label asp-for="Demographic.ZipCode" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.ZipCode" class="form-control" />
        </div>
        <label asp-for="Demographic.OriginCountryId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="Demographic.OriginCountryId" class="form-control" asp-items="ViewBag.OriginCountryId"><option value=""></option></select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Demographic.MarriageStatusId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="Demographic.MarriageStatusId" class="form-control" asp-items="ViewBag.MarriageStatusId"><option value=""></option> </select>
        </div>
        <label asp-for="Demographic.TotalFamilyMembers" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.TotalFamilyMembers" class="form-control" />
        </div>
        <label asp-for="Demographic.Adults" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.Adults" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Demographic.BiWeeklyIncomeId" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-2">
            <select asp-for="Demographic.BiWeeklyIncomeId" class="form-control" asp-items="ViewBag.BiWeeklyIncomeId"><option value=""></option></select>
        </div>
        <label asp-for="Demographic.Children" class="col-lg text-lg-right"></label>
        <div class="col-lg-2">
            <input asp-for="Demographic.Children" class="form-control" />
        </div>
        <div class="form-check col-1">
            <input asp-for="Demographic.ChildrenZeroToTwo" class="form-check-input" />
            <label asp-for="Demographic.ChildrenZeroToTwo" class="form-check-label"></label>
        </div>
        <div class="form-check col-1">
            <input asp-for="Demographic.ChildrenThreeToFive" class="form-check-input" />
            <label asp-for="Demographic.ChildrenThreeToFive" class="form-check-label"></label>
        </div>
        <div class="form-check col-1">
            <input asp-for="Demographic.ChildrenSixToFourteen" class="form-check-input" />
            <label asp-for="Demographic.ChildrenSixToFourteen" class="form-check-label"></label>
        </div>
        <div class="form-check col-1">
            <input asp-for="Demographic.ChildrenFifteenToEighteen" class="form-check-input" />
            <label asp-for="Demographic.ChildrenFifteenToEighteen" class="form-check-label"></label>
        </div>
    </div>
    <div class="form-group row">
        <div class=" offset-lg-1 col-lg-3">
            <label asp-for="Needs"></label>
            <select asp-for="SelectedNeedIds" multiple="multiple" class="form-control" asp-items="@Model.Needs"></select>
        </div>
        <div class="col-lg-4 offset-lg-2">
            <label asp-for="Demographic.Note"></label>
            <textarea asp-for="Demographic.Note" class="form-control" rows="4"></textarea>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="offset-lg-3 col-lg">
        <input type="submit" value="Save Changes" class="btn btn-success" />
    </div>
    @if ( ViewBag.AddEditMode == "Edit" )
    {
        <label asp-for="MostRecentDistributionDate" class="col-lg text-lg-right"></label>
        <div class="col-lg"><input asp-for="MostRecentDistributionDate" title="MostRecentDistributionDate" class="form-control" disabled="disabled" /></div>
        <div class="col-lg">
            <a id="distroButton" class="btn @Model.RecordDistroClass my-1 loader" asp-action="Create" asp-controller="Distribution" asp-route-id="@Model.Demographic.DemographicId" data-toggle="tooltip" title="@Model.RecordDistroToolTip">Record a Distribution</a>
        </div>
        <div class="col-lg">
            <a class="btn btn-dark my-1 loader" asp-action="AddEditByDemographicId" asp-controller="MannaData" asp-route-id="@Model.Demographic.DemographicId">Add/Edit Manna Data</a>
        </div>
    }
</div>
