@model StCamillus.Models.Demographic

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Demographic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BarcodeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BarcodeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFifteenToEighteen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildrenFifteenToEighteen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenSixToFourteen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildrenSixToFourteen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenThreeToFive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildrenThreeToFive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildrenZeroToTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildrenZeroToTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelfDisclosure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelfDisclosure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalFamilyMembers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalFamilyMembers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*<a asp-action="Index">Back to List</a>*@
        </div>
    </form>
</div>
