@model Demographic

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Demographic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DobDateOnly)*@
            @*@Html.DisplayFor(model => model.Age)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFamilyMembers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFamilyMembers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenZeroToTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenZeroToTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenThreeToFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenThreeToFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenSixToFourteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenSixToFourteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFifteenToEighteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenFifteenToEighteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiWeeklyIncomeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiWeeklyIncome.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelfDisclosure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelfDisclosure)
        </dd>

        <dt>
            County
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County.Description)
        </dd>

        <dt>
            Ethnicity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnicity.Description)
        </dd>

        <dt>
            Marital Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarriageStatus.Description)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginCountry.Description)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Description)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DemographicId">Edit</a> |
    @*<a asp-action="Index">Back to List</a>*@
</div>
