@model DemographicAddEditViewModel

@{
    ViewData[ "Title" ] = "Household";
    ViewBag.AddEditMode = "Edit";
}

<h2>
    @ViewData[ "Title" ]
    <small class="text-muted"> - Edit</small>
</h2>

<form asp-action="Edit" class="dataEntry loader">

    @Html.Partial( "_AddEditPartial" )

</form>

@section scripts{
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}

    @*<script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                changeYear: true,
                yearRange: "-100:+0"
            });
        });</script>*@
}