﻿@model StCamillus.Models.DemographicSearchViewModel
<form asp-action="Find" id="searchForm" class="loader">
    <div class="form-horizontal col-md-6">
        <h4>Find Household</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        @if ( null != ViewBag.SuccessMessage )
    {
        <div class="alert alert-success fade show" id="successMsg">
            @ViewBag.SuccessMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
}

        <p>
            <a class="btn btn-outline-dark loader" asp-action="Create">Click here to Add a New Household</a>
        </p>

        <div class="form-group row">
            <label asp-for="BarcodeId" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="BarcodeId" class="form-control FocusOnLoad" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LastName" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FirstName" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="FirstName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StreetAddress" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="StreetAddress" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="City" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        @*State*@
        <div class="form-group row">
            <label asp-for="StateId" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <select asp-for="StateId" class="form-control" asp-items="ViewBag.StateId"><option value="0">State</option></select>
            </div>
        </div>
        @*County*@
        <div class="form-group row">
            <label asp-for="CountyId" class="col-form-label col-lg-4"></label>
            <div class="col-sm-6">
                <select asp-for="CountyId" class="form-control" asp-items="ViewBag.CountyId"><option value="0">County</option></select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ZipCode" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="ZipCode" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PhoneNumber" class="col-form-label col-lg-4"></label>
            <div class="col-lg-8">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-lg-4 col-lg-8">
                <input type="submit" value="Find" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
    <script>
        $(function () {
            var barcodeIdField = $('#BarcodeId');
            var form = $('#searchForm');
            var clearBarcode = function () {
                var jqElement = $('#BarcodeId');
                if (jqElement.val() == 0) { jqElement.val(""); }
            };
            var zeroBarcode = function () {
                var jqElement = $('#BarcodeId');
                if (isNaN(parseInt(jqElement.val()))) {
                    jqElement.val('0');
                }
            };
            barcodeIdField.focus(clearBarcode);
            barcodeIdField.click(clearBarcode);
            barcodeIdField.blur(zeroBarcode);
            form.submit(zeroBarcode);
        });
    </script>
}
