@model IEnumerable<StCamillus.Models.Demographic>

@{
    ViewData["Title"] = "Index";
}

<h2>Households</h2>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Click here to Add a New Household</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.LastName )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.FirstName )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.PhoneNumber )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.StreetAddress )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.City )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.State )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.ZipCode )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.County )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.LastName )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.FirstName )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.PhoneNumber )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.StreetAddress )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.City )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.State.Description )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.ZipCode )
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.County.Description )
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DemographicId" class="loader">View / Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
