﻿@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add Phone Number";
}

<h2>@ViewData["Title"].</h2>
<form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal">
    <h4>Add a phone number.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="PhoneNumber" class="col-lg-2 col-form-label"></label>
        <div class="col-lg-10">
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-lg-10">
            <button type="submit" class="btn btn-default">Send verification code</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
