﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
    <h4>Change Password Form</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="OldPassword" class="col-lg-2 col-form-label"></label>
        <div class="col-lg-10">
            <input asp-for="OldPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-lg-2 col-form-label"></label>
        <div class="col-lg-10">
            <input asp-for="NewPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-lg-2 col-form-label"></label>
        <div class="col-lg-10">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-lg-10">
            <button type="submit" class="btn btn-default">Change password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
