﻿@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Set your password</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="NewPassword" class="col-lg-2 col-form-label"></label>
        <div class="col-lg-10">
            <input asp-for="NewPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-lg-2 col-form-label"></label>
        <div class="col-lg-10">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-lg-10">
            <button type="submit" class="btn btn-default">Set password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
