@model MannaData
<div class="form-horizontal">
    <h4>@ViewData[ "SubTitle" ]</h4>
    @if ( ViewBag.ChangesMade )
    {
        <div class="alert alert-success fade show" id="successMsg">
            Changes Saved!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if ( ViewBag.NewMannaDataCreated )
    {
        <div class="alert alert-success fade show">
            New Manna Data added! See the bottom of the page for adding a referral pickup.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="MannaDataId" />
    <input type="hidden" asp-for="DemographicId" />

    <div class="form-group row">
        <label asp-for="Demographic.BarcodeId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.BarcodeId" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="MannaDataId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="MannaDataId" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Demographic.Dob" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.Dob" class="form-control" disabled="disabled" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Demographic.LastName" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.LastName" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Demographic.FirstName" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="Demographic.FirstName" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="EmailAddress" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="EmailAddress" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="GenderId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="GenderId" class="form-control" asp-items="ViewBag.Genders"></select>
        </div>
        <label asp-for="EmergencyContactName" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="EmergencyContactName" class="form-control" />
        </div>
        <label asp-for="EmergencyContactPhone" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="EmergencyContactPhone" class="form-control" />
        </div>
    </div>

    <hr class="col-lg-12" />

    <div class="form-group row">
        <label asp-for="PrimaryLanguage" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="PrimaryLanguage" class="form-control" />
        </div>
        <label for="Ethnicity" class="col-lg text-lg-right">Ethnicity</label>
        <div class="col-lg">
            <input type="text" class="form-control" disabled="disabled" name="Ethnicity" id="Ethnicity" value="@ViewBag.Ethnicity" />
        </div>
        <label asp-for="RaceId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="RaceId" class="form-control" asp-items="ViewBag.Races"><option value=""></option></select>
        </div>
    </div>

    <div class=" form-group row">
        <label asp-for="Demographic.Children" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-2">
            <input asp-for="Demographic.Children" class="form-control" disabled="disabled" />
        </div>
        <label asp-for="Demographic.Adults" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-2">
            <input asp-for="Demographic.Adults" class="form-control" disabled="disabled" />
        </div>
    </div>

    <div class="form-group row">
        <div class="form-check col-xl-4">
            <input asp-for="NeedsDiabeticBox" class="form-check-input ml-4" />
            <label asp-for="NeedsDiabeticBox" class="form-check-label ml-5"></label>
            <input asp-for="NeedsVegetarianBox" class="form-check-input ml-4" />
            <label asp-for="NeedsVegetarianBox" class="form-check-label ml-5"></label>
        </div>
        <label asp-for="BabyFoodStageId" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <select asp-for="BabyFoodStageId" class="form-control" asp-items="ViewBag.BabyFoodStages"><option value=""></option></select>
        </div>
        <label asp-for="FormulaType" class="col-lg text-lg-right"></label>
        <div class="col-lg">
            <input asp-for="FormulaType" class="form-control" />
        </div>
    </div>

    <hr class="col-lg-12" />

    <div class="form-group row">
        <div class="form-check col-xl-3">
            <input asp-for="IsEmployed" class="form-check-input ml-4" />
            <label asp-for="IsEmployed" class="form-check-label ml-5"></label>
        </div>
        <label asp-for="EmploymentStatusId" class="col-lg-1 text-lg-right"></label>
        <div class="col-lg-2">
            <select asp-for="EmploymentStatusId" class="form-control" asp-items="ViewBag.EmploymentStatuses"><option value=""></option></select>
        </div>
        <label asp-for="MonthlyGrossDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="MonthlyGrossDollars" class="form-control" />
        </div>
        <label asp-for="YearlyGrossDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="YearlyGrossDollars" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FoodStampDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="FoodStampDollars" class="form-control" />
        </div>
        <label asp-for="UnemploymentDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="UnemploymentDollars" class="form-control" />
        </div>
        <label asp-for="SocialSecurityInsuranceDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="SocialSecurityInsuranceDollars" class="form-control" />
        </div>
        <label asp-for="SocialSecurityDisabilityInsuranceDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="SocialSecurityDisabilityInsuranceDollars" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="form-check col-xl-3">
            <input asp-for="IsUsingMedicaid" class="form-check-input ml-4" />
            <label asp-for="IsUsingMedicaid" class="form-check-label ml-5"></label>
            <input asp-for="IsReceivingEnergyAssistance" class="form-check-input ml-4" />
            <label asp-for="IsReceivingEnergyAssistance" class="form-check-label ml-5"></label>
        </div>
        <label asp-for="Tanfdollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="Tanfdollars" class="form-control" />
        </div>
        <label asp-for="OtherDollars" class="col-lg-2 text-lg-right"></label>
        <div class="col-lg-1">
            <input asp-for="OtherDollars" class="form-control" />
        </div>
        <label asp-for="TransportationId" class="col-lg-1 text-lg-right"></label>
        <div class="col-lg-2">
            <select asp-for="TransportationId" class="form-control" asp-items="ViewBag.ModesOfTransportation"><option value=""></option></select>
        </div>
    </div>

    <div class="form-group row">
    </div>
    <div class="form-group row">
        <div class="offset-2 col-lg">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
</div>
@if ( ViewBag.AddEditMode == "Edit" )
{
    <hr />

    <h3>Manna Referral Date</h3>
    <a asp-controller="MannaPickup" asp-action="Create" asp-route-id="@Model.MannaDataId">Request Referral</a>
    <div class="col-xl-6">
        <table class="table table-sm table-striped table-bordered" id="Pickups">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Pick-up Date</th>
                    <th scope="col">Pick-up Location</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                @if ( Model != null )
                {
                    foreach ( MannaPickup pickup in Model.MannaPickups.OrderByDescending( p => p.PickupDate ) )
                    {
                        @Html.Partial( "_MannaPickupsGridPartial", pickup )
                    }
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}
