﻿@model MannaPickup

<tr>
    <th scope="row">@Html.DisplayFor(m => m.PickupDate)</th>
    <td>@Html.DisplayFor(m => m.PickupLocation.Description)</td>
    <td>@Html.DisplayFor(m => m.Notes)</td>
</tr>