@model MannaData

@{
    ViewData["Title"] = "Manna Data";
    ViewData["SubTitle"] = "Add";
    ViewBag.AddEditMode = "Add";
    ViewBag.NewMannaDataCreated = false;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" class="dataEntry">

    @Html.Partial("_AddEditPartial")

</form>