@model StCamillus.Models.MannaData

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MannaData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodStampDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoodStampDollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormulaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormulaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEmployed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEmployed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsReceivingEnergyAssistance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReceivingEnergyAssistance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsUsingMedicaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsUsingMedicaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyGrossDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyGrossDollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeedsDiabeticBox)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedsDiabeticBox)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeedsVegetarianBox)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedsVegetarianBox)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfChildren)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfChildren)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherDollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLanguage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryLanguage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurityDisabilityInsuranceDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialSecurityDisabilityInsuranceDollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurityInsuranceDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SocialSecurityInsuranceDollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tanfdollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tanfdollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnemploymentDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnemploymentDollars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearlyGrossDollars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearlyGrossDollars)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*<a asp-action="Index">Back to List</a>*@
        </div>
    </form>
</div>
