@model MannaData

@{
    ViewData["Title"] = "Manna Data";
    ViewData["SubTitle"] = "Edit";
    ViewBag.AddEditMode = "Edit";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-controller="Demographics" asp-action="Edit" asp-route-id="@Model.DemographicId">Back to Household</a>
</p>


<form asp-action="Edit" class="dataEntry">

    @Html.Partial("_AddEditPartial")

</form>