@model IEnumerable<StCamillus.Models.MannaData>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodStampDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormulaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEmployed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReceivingEnergyAssistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsingMedicaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyGrossDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedsDiabeticBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedsVegetarianBox)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurityDisabilityInsuranceDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurityInsuranceDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanfdollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnemploymentDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyGrossDollars)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodStampDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormulaType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmployed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReceivingEnergyAssistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsUsingMedicaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyGrossDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedsDiabeticBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedsVegetarianBox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityDisabilityInsuranceDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityInsuranceDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanfdollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnemploymentDollars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyGrossDollars)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MannaDataId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MannaDataId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MannaDataId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
